name: Generate docs

on:
  # Run on all PRs
  pull_request:
  # Run when a PR is merged into main
  push:
    branches:
      - main
  # Run when a release is published
  release:
    types:
      - published

jobs:
  generate-docs:
    name: Generate docs
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Check out the repository
        uses: actions/checkout@v3
      - name: Install Roc
        uses: hasnep/setup-roc@main
        with:
          roc-version: nightly
      - name: Generate docs
        run: roc docs src/main.roc
      - name: Add index page
        run: |
          echo -n '<!doctype html><html lang="en"><body><ul>' > generated-docs/index.html
          find generated-docs/ -mindepth 1 -type d -printf '<li><a href="/%P">%P</a></li>' >> generated-docs/index.html
          echo '</ul></body>' >> generated-docs/index.html
      - name: Fix absolute paths
        run: |
          REPOSITORY_NAME=$(echo hasnep/roc-datetimes | sed -E 's/^.+\/(.+)$/\1/')
          find generated-docs/ -type f -name '*.html' -exec sed -i "s/\(href\|src\)=\"\//\1=\"\/$REPOSITORY_NAME\//g" {} +
      - name: Upload docs artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: generated-docs
        if: ${{ github.event_name == "release" }}
      - name: Deploy docs
        uses: actions/deploy-pages@v2
        if: ${{ github.event_name == "release" }}
